scratch/set2_combined_frame.csv
scratch/set1_combined_frame.csv
scratch/Set2_Accelerometer.csv
scratch/Set1_Accelerometer.csv
csv-participant-one/accelerometer_phone.csv
csv-participant-one/accelerometer_smartwatch.csv
csv-participant-one/gyroscope_phone.csv
csv-participant-one/gyroscope_smartwatch.csv
csv-participant-one/magnetometer_phone.csv
ProjektdokumentationQS_Vahabzadeh_Zander/Set1_Accelerometer.csv
ProjektdokumentationQS_Vahabzadeh_Zander/Set2_Accelerometer.csv
